{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="row">
            <h2>Learn <span style="color:red;">anything</span> in a Flash</h2>
        </div>
	<div class="row">
        <div class="col s12 m6">
		    <div class="card horizontal z-depth-3">
		      <div class="card-image">
		        <img height="250px" src="https://facebook.github.io/react/img/logo.svg">
		      </div>
		      <div class="card-stacked">
		        <div class="card-content">
		          <h3>ReactJS</h3>
		        </div>
		        <div class="card-action">
		          <a href="/lesson/React.js">Get Started</a>
		        </div>
		      </div>
		    </div>
	  	</div>
	  	<div class="col s12 m6">
		    <div class="card horizontal z-depth-3">
		      <div class="card-image">
		        <img height="250px" src="https://cnet4.cbsistatic.com/img/QJcTT2ab-sYWwOGrxJc0MXSt3UI=/2011/10/27/a66dfbb7-fdc7-11e2-8c7c-d4ae52e62bcc/android-wallpaper5_2560x1600_1.jpg">
		      </div>
		      <div class="card-stacked">
		        <div class="card-content">
		          <h3>Android Development<h3>
		        </div>
		        <div class="card-action">
		          <a href="#">Get Started</a>
		        </div>
		      </div>
		    </div>
	  	</div>
    </div>
    <div class="row">
		<div class="col s12 m6">
		    <div class="card horizontal z-depth-3">
		      <div class="card-image">
		        <img height="250px" src="https://d3nmt5vlzunoa1.cloudfront.net/phpstorm/files/2015/10/large_v-trans.png">
		      </div>
		      <div class="card-stacked">
		        <div class="card-content">
		          <h3>Docker<h3>
		        </div>
		        <div class="card-action">
		          <a href="#">Get Started</a>
		        </div>
		      </div>
		    </div>
	  	</div>
	  	<div class="col s12 m6">
		    <div class="card horizontal z-depth-3">
		      <div class="card-image">
		        <img height="250px" src="https://www.alooma.com/img/integrations/ios.png">
		      </div>
		      <div class="card-stacked">
		        <div class="card-content">
		          <h3>iOS Development<h3>
		        </div>
		        <div class="card-action">
		          <a href="#">Get Started</a>
		        </div>
		      </div>
		    </div>
	  	</div>
    </div>
    <div class="row">
		<div class="col s12 m6">
		    <div class="card horizontal z-depth-3">
		      <div class="card-image">
		        <img height="250px" src="https://lh3.googleusercontent.com/-n9YqjJCKHak/AAAAAAAAAAI/AAAAAAAAET8/E_5ZPTJBCtY/s0-c-k-no-ns/photo.jpg">
		      </div>
		      <div class="card-stacked">
		        <div class="card-content">
		          <h3>Unity<h3>
		        </div>
		        <div class="card-action">
		          <a href="#">Get Started</a>
		        </div>
		      </div>
		    </div>
	  	</div>
	  	<div class="col s12 m6">
		    <div class="card horizontal z-depth-3">
		      <div class="card-image">
		        <img height="250px" src="https://git-for-windows.github.io/img/git_logo.png">
		      </div>
		      <div class="card-stacked">
		        <div class="card-content">
		          <h3>Git<h3>
		        </div>
		        <div class="card-action">
		          <a href="#">Get Started</a>
		        </div>
		      </div>
		    </div>
	  	</div>
    </div>
</div>
{% endblock %}
