{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2>Learn <span style="color:red;">ReactJS</span> in a Flash</h2>
        </div>
        <h5>70% complete</h5>
        <div class="progress">
            <div class="determinate" style="width: 70%"></div>
        </div>
        <div class="row">
            <h3>Introduction</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/A71aqufiNtQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="row">
            <h3>Getting Started</h3>
            <div class="col s12 l4">
            <pre><code>apt install npm
npm init
npm install --save react react-dom</code></pre>
            </div>
        </div>
        <div class="row">
            <h3>Exercise 1: Hello World!</h3>
            <div class="col s12 l4">
            <pre><code>import React from 'react';
import ReactDOM from 'react-dom';

ReactDOM.render(
  &lt;h1&gt;Hello, world!&lt;/h1&gt;,
  document.getElementById('root')
);</code></pre>
            </div>
        </div>
    </div>
{% endblock %}